<div class="hero">
  <div class="hero-avatar">
    <img
      src="{{ site.data.profile.avatar }}"
      alt="{{ site.data.profile.name }}"
    >
  </div>
  <div class="hero-info">
    <h1>{{ site.data.profile.name }}</h1>
    <p class="tagline">{{ site.data.profile.description }}</p>
    <div class="hero-contact">
      <img src="/assets/icons/cemail.svg" alt="Email">
      <a href="mailto:{{ site.data.profile.email }}">
        {{ site.data.profile.email }}
      </a>
    </div>
  </div>
</div>
